$color-primary: #3046C5;
$color-secondary: #009C9E;
$color-pale: #CEC8FF;
$color-mid: #abd31c;
$color-dark: #F7DD67;
$body-font: "Open Sans", sans-serif;
$header-font: 'Oxygen', sans-serif;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(345deg, $color-secondary, $color-dark);
    color: white;
}

.navbar{
    background-color: $color-mid;
}