$color-primary: #3046C5;
$color-secondary: #009C9E;
$color-pale: #CEC8FF;
$color-mid: #abd31c;
$color-dark: #F7DD67;
$color-buy: #ffc107;
$body-font: "Open Sans", sans-serif;
$header-font: 'Oxygen', sans-serif;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(345deg, $color-secondary, $color-dark);
    color: white;
}

.navbar{
    background-color: $color-mid;
    .fa-shopping-cart{
        font-size: 2rem;
        color: $color-primary;
    }
}

.breadcrumb{
    background-color: white;
}

.carousel{
    border: solid $color-secondary;
}

.item-list-price{
    position: absolute;
    right: 0;
    background-color: rgb(192,192,192,0.2);
}

.site-footer{
    background-color: $color-dark;
    padding: 20px 0;
}

#item-detail-add-cart{
    position: relative;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
}

.btn.clicked .fa-shopping-cart{
    animation: cartAnim 1.5s ease-in-out forwards;
}

.btn .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

@keyframes cartAnim {
    0% {
        left: -10%;
      }
    40%,
    60% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}